.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdcdc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #0acf97;
}

input:checked+.slider:before {
    transform: translateX(22px);
}

.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}

.custom-table {
    box-shadow: 0 1px 2px #0000001a, 0 1px 2px #0000001f;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 1s;
}

.bounce-leave-active {
    animation: bounce-in 0.1s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.fade-enter-active {
    transition: opacity 2.5s ease;
}

.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.text-pink {
    color: pink !important;
}

.bg-purple {
    background-color: purple !important;
}

.bg-pink {
    background-color: pink !important;
}

.logs-type {
    border-left: solid 3px #8d8d8d !important;
    padding: 20px 10px;
}

#mapContainer {
    width: 100%;
    height: 100%;
    min-height: 50vh;
    max-height: calc(100vh - 500px);
}

.table-fixed-header {
    position: relative;
}

.table-fixed-header>.table-responsive {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;
}

.table-fixed-header thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.table-fixed-header thead th {
    border-bottom: 2px solid #ddd;
  }


